@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
$light: #F0EBE3;
$medium: #262626;
$dark: #000000;
$accent: #29a587;
$big-font: 'Josefin Sans', sans-serif;
$small-font: 'Jost', sans-serif;
$fancy-font: 'Caveat', cursive;

@mixin center-content() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin box($height, $width) {
    height: $height;
    width: $width;
  }
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: $light;
    color: $dark;
    margin: 0;
    overflow-x: hidden;
    font-family: $small-font;
    transition: .2s;
    nav{
        position: fixed;
        top:0;
        font-family: $big-font;
        width: 100%;
        padding-top: 10px;
        z-index: 4;
        transition: top 0.9s;
        #nav-list{
            width: 100%;
            ul {
                @include center-content();
                flex-wrap: nowrap;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                li{
                    padding: 0 2% 0 2%;
                    font-size: 20px;
                    white-space: nowrap;
                    a{
                        color: $dark;
                        text-decoration: none;
                        span {
                            opacity: 0%;
                            font-family: $small-font;
                            transition: opacity 0.3s ease-out;
                        }
                    }
                    a:hover span{
                        opacity:100%;
                    }
                }
                li:last-of-type{
                    padding-right: 0;
                }
            }
        }
    }
    #burger{
        position: fixed;
        top:0;
        display: none;
        cursor: pointer;
        @include box(50px, 50px);
        div{
            display: block;
            margin: 10px auto 0 auto;
            background-color: $medium;
            height: 2px;
            border-radius: 1px;
        }
        #line1{
            width: 50px;
            transition-duration: 1s;
        }
        #line2{
            width: 30px;
            transition-duration: 1s;
        }
        #line3{
            width:10px;
            transition-duration: 1s;
        }
    }
    .rotated{ 
        #line1{
            transform: rotate(180deg) translate(0, -30px);
            transition-duration: 1s;
            background-color: $light; 
        }
        #line2{
            transform: rotate(180deg);
            transition-duration: 1s;
            background-color: $light; 
        }
        #line3{
            transform: rotate(180deg) translate(0, 30px);
            transition-duration: 1s;
            background-color: $light; 
        }
    }
    #invisible-nav {
        position: fixed;
        top:0;
        width: 100%;
        height: 50px;
        z-index: 3;
        opacity: 0.01;
    }
    section{
        padding: 50px 20px;
        max-width:1200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        animation: showsection 1s forwards;
        h1, h2{
            font-family: $big-font;
            font-size: 40px;
            margin-bottom: 20px;
            text-align: center;
        }
        .sub-heading{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            font-size:15px;
            text-align: center;
            display: block;
        }
        
        .fancy-text{
            font-family: 'Caveat', cursive; 
            color: $dark;
            font-size: 1.5em; 
            font-weight:bold;
        }
        p{
            font-family: "Jost", sans-serif;
            color: #262626;
            opacity: 0.9;
        }
    }
    .shadow{
        font-size: 250px;
        font-family: $fancy-font;
        margin-top: -100px;
        color: rgba(0, 0, 0, 0.02);
        white-space: nowrap;
        width: 100%;
        text-align: center;
    }

    .v-line-left .v-line-block {
        left: -100px;
        right: auto;
    }
    .v-line-right .v-line-block {
        right: -100px;
        left: auto;
    }
    .v-line-block {
        position: absolute;
        left: -100px;
        top: 40px;
        bottom: -30px;
        width: 2px;
        background: #000;
        z-index: 3;
        pointer-events: none;
    }
    .v-line-block:before {
        content: '';
        position: absolute;
        left: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
        background: #fff;
        border: 2px solid #000;
        border-radius: 30px;
        box-shadow: 5px 5px rgba(0, 0, 0, .2);
        z-index: 1;
    }
    .v-line-block:after {
        content: '';
        position: absolute;
        left: -15px;
        bottom: -15px;
        width: 30px;
        height: 30px;
        background: #fff;
        border: 2px solid #000;
        border-radius: 30px;
        box-shadow: 5px 5px rgba(0, 0, 0, .2);
        z-index: 1;
    }
    .v-line-block span {
        position: absolute;
        bottom: -188px;
        left: -168px;
        width: 226px;
        height: 226px;
        background-image: url(imgs/pat-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }
    .v-line-right .v-line-block span {
        left: auto;
        right: -168px;
    }    
    #title-section{
        display:flex;
        align-items: flex-start;
        justify-content: center;
        width:100%;
        padding-top: 150px;
        .title{
            z-index:2;
            padding:20px;
            .sub-heading{
                text-align: left;
            }
            h1{
                font-family: $big-font;
                font-size: 70px;
                text-align: left;
                margin-top:30px;
                span{
                    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0, 0, 0, 0.2);
                }
               }
            p{
                font-family: $small-font;
                color: $medium;
                font-size: 20px;
                margin: 0;
                max-width: 680px;
                opacity: 0.9;
            }
            #cv{
                display: block;
                border: solid 2px $dark;
                border-radius: 0 40px;
                background: transparent;
                padding: 20px 25px;
                margin-top: 50px;
                text-decoration: none;
                width: max-content;
                color: $dark;
                font-weight: bold;
                letter-spacing: 1px;
                transition: .6s;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
                position:relative;
            }
            #cv:before{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0%;
                height: 0%;
                background: #29a587;
                transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
                transform: translate(-50%, -50%);
                border-radius: 0 40px;
                opacity: 0;
                z-index: -1;
                filter: blur(10px);
            }
            #cv:hover{
                color: white;
            }
            #cv:hover:before{
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                opacity: 1;
                filter: blur(0px);
            }
        }
        .photo{
            position:relative;
            width: 50%;
            #face-box{
                position: absolute;
                width: 260px;
                z-index: 2;
                height: 260px;
                border-radius: 100%;
                right: 180px;
                top: 20px;
                #beret{
                    width: 100%;
                    top: -15px;
                    height: 135px;
                    right: -22px;
                    opacity:0;
                    transition: .2s;
                }
                #mustache{
                    width: 100%;
                    height: 15px;
                    top: 140px;
                    right: 12px;
                    -webkit-transform: rotate(8deg);
                    transform: rotate(8deg);
                    opacity:0;
                    transition: .2s;
                }
                #mask{
                    width: 100%;
                    height: 140px;
                    top: -4px;
                    right: -5px;
                    object-fit: contain;
                    transform: rotate(12deg);
                    transition: .2s;
                    opacity:0;
                }
                #eye-patch{
                    width: 100%;
                    height: 68px;
                    top: 58px;
                    right: -13px;
                    object-fit: contain;
                    transform: rotate(12deg);
                    transition: .2s;
                    opacity:0;
                }
                #hat{
                    width: 100%;
                    height: 100px;
                    top: -49px;
                    right: -23px;
                    object-fit: contain;
                    transform: rotate(12deg);
                    transition: .2s;
                    opacity:0;
                }
                #blush{
                    width: 100%;
                    height: 55px;
                    top: 97px;
                    right: 8px;
                    object-fit: contain;
                    transform: rotate(12deg);
                    transition: .2s;
                    opacity:0;
                }
                #text-cloud, #quote{
                    width: 100%;
                    padding: 10px 25px;
                    right: -120px;
                    top: -50px;
                    position:absolute;
                    pointer-events: none;
                    background-color: $accent;
                    border-radius: 40px;
                    border: solid 1px $accent;
                    font-family: $fancy-font;
                    letter-spacing: 1px;
                    font-size: 18px;
                    line-height: 20px;
                    opacity:0;
                }
                #text-cloud:after, #quote:after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 30px 30px 10px 0px;
                    border-color: $accent transparent transparent transparent;
                    bottom: -35px;
                    left: 50%;
                    margin-left: -20px;
                }
            }
            img{
                position:absolute;
                pointer-events: none;
            }
            #my-photo{
                top:-220px;
                right:-100px;
                width:800px;
            }
        }  
    }
    #parrot{
        position:absolute;
        width: 500px;
        top: 79px;
        right: -340px;
        object-fit: contain;
        transform: rotate(20deg);
        transition: .2s;
        transform-origin: bottom center;
    }
    #projects {
        position: relative;
        text-align: center;
        .tabs{
            display: flex;
            justify-content: center;
            margin-top: 70px;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            .tab{
                margin: 0 20px 20px 20px;
                position: relative;
                cursor: pointer;
            }
            .tab.active{
                color: $accent;
            }
            .tab:before{
                content: '';
                position: absolute;
                width:0;
                left: 50%;
                bottom: -10px;
                height: 2px;
                background: #29a587;
                transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
                -moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
                -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
                -o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
            }
            .tab.active:before, .tab:hover:before{
                width: 90%;
                left: 5%;
            }
        }
        #projects-container{
            width: 100%;
            margin-top:10px;
            position: relative;
            height: 1057px;
            transition: .3s;
            .year{
                position: absolute;
                width: 100%;
                display:none;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: stretch; 
                transition: .5s;
                opacity:0;
                left: 100vw;
            }
            .year[data-year="2024"]{
                opacity:1;
                left:0;
                display:flex;
            }
            .project-box{
                color: $dark;
                text-decoration: none;
                width: 31%;
                transition: .5s;
                margin: 15px 1%;
                padding:0;
                background-color: white;
                border: 1px solid $dark;
                border-radius: 0 50px;
                transform-origin: center bottom;
                .img-frame{
                    width:100%;
                    height:300px;
                    margin:0;
                    overflow: hidden;
                    border-radius: 0 50px;
                    background-size: cover;
                    background-position: top center;
                }
                .project-text{
                    font-family: $small-font;
                    font-size: 18px;
                    text-align: left;
                    padding: 30px;
                    span{
                        font-weight: bold;
                        font-size: 14px;
                        color: $accent;
                    }
                    h2{
                        margin: 10px 0 15px 0;
                        font-size: 20px;
                        text-align: left;
                    }
                    p{
                        margin: 15px 0 20px 0;
                        font-size: 14px;
                        line-height: 18px;
                        width: 100%;
                        color: $medium;
                        opacity: .8;
                    }
                    .divider{
                        height:2px;
                        width: 33px;
                        background-color: $accent;
                    }
                    .see-project{
                        display:flex;
                        span{
                            font-weight: bold;
                            font-size: 14px;
                        }
                        img{
                            width: 20px;
                            margin-left: 20px;
                            margin-top: -2px;
                            transition: .2s;
                        }
                    }
                    
                }  
            }
            .project-box:hover{
                .see-project img{
                    margin-left: 15px;
                }
                .img-frame{
                    animation: webscroll 5s infinite;
                }
            }
        }
    }
   #skills{
        display: flex;
        flex-wrap: wrap;
        padding-top:40px;
        .skill{
            width:31%;
            margin: 15px 1%;
            padding: 0 20px;
            .skill-heading{
                display: flex;
                background-size: 50px;
                h3{
                    width:50%;
                    color: white;
                    font-family: "Josefin Sans", sans-serif;
                    letter-spacing: 1px;
                    font-size:20px;
                    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 3px 3px 0px rgba(0, 0, 0, .2);
                }
                .skill-bar{
                    display: flex;
                    justify-content: flex-end;
                    width:50%;
                    align-items: center;
                    .skill-ball{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: white;
                        margin: 0 5px;
                        border: 1px solid $medium;
                        box-shadow: 3px 3px rgba(0, 0, 0, .2);
                    }
                    .skill-ball.filled{
                        background-color: $accent;
                    }
                }
            }
            p{
                font-size: 15px;
                line-height: 20px;
            }
        }
   }
    #skills-shadow{
        margin-top:-200px;
    }
    #contact{
        @include center-content();
        flex-direction: column;
        position: relative;
        padding-bottom:0;
        .contact-container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            padding:50px 0 0 0;
            .contact-info{
                width: 40%;
                font-size: 40px;
                padding:30px 0;
                .contact-info-box{
                    display:flex;
                    margin: 10px auto;
                    max-width: 330px;
                    .contact-icon{
                        border: 2px solid #000;
                        border-radius: 50%;
                        background-color: #fff;
                        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, .2);
                        width: 56px;
                        height: 56px;
                        text-align: center;
                        line-height: 52px;
                        font-size: 20px;
                        position: relative;
                        margin-right:60px;
                        padding: 4px;
                        img{
                            height:auto;
                            object-fit: contain;
                        }
                    }
                    .contact-icon:after{
                        margin-top: -1px;
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        width: 40px;
                        height: 2px;
                        background: #000; 
                    }
                    h3{
                        font-size:20px;
                        font-family: $fancy-font;
                        font-size: 30px;
                        margin: 10px 0;
                        font-weight: 700;
                        color: $dark;
                    }
                    p, a{
                        color: $medium;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: left;
                        opacity: .8;
                        display: inherit;
                        margin: 15px 0;
                    }
                    a{
                        text-decoration: none;
                        font-weight:bold;
                    }
                    a:hover {
                        color: $accent;
                    }
                }
            }
            .contact-giph{
                width: 60%;
                img{
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                }
            }
        }
        
    } 
    .contact-shadow{
        margin-top: -319px;
    }
    #footer{
        border-top: solid 1px rgba(0, 0, 0, .2);
        background-color: $light;
        padding: 50px 20px;
        display:flex;
        justify-content: center;
        .footer-container{
            max-width:1200px;
            width:100%;
            display: flex;
            justify-content: space-between;
            font-weight:bold;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}
@media (max-width: 1080px){
    body {
        #title-section .photo #my-photo{
            width: 600px;
            top: -150px;
        }
        .shadow{
            font-size: 140px;
            margin-top: -150px;
        }
        #footer{
            padding: 20px;
        }
    }
    
}
@media (max-width:900px){
    body{
        header {
            font-size: 15px;
            #nav-list{
                position: absolute;
                right: 0;
                height: 100vh;
                width: 220px !important;
                top: 0;
                background-color: $medium;
                @include center-content();
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
                ul {
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                    list-style-type: none;
                    justify-content: space-evenly !important;
                    margin: 0;
                    padding: 0;
                    li{
                        opacity: 0;
                        a {
                            color: $light !important;
                            font-size: 26px;
                        }
                    } 
                }
            }
            #burger{
                display: block !important;
                z-index: 4;
                position: absolute;
                top: 10px;
                right: 20px;
            }
            .nav-active{
                transform: translateX(0%) !important;
            }
        }
        #projects #projects-container{
            height: 1683px;
            .project-box{
                width: 48%;
            }
        }
        #skills .skill{
            width: 48%;
        }
        #contact .contact-container{
            align-items: flex-end;
            .contact-info{
                padding-top:0;
            }
        }
        .contact-shadow{
            margin-top: -180px;
        }
    }
}
@media (max-width:800px){
    body #contact .contact-container .contact-info{
        width:50%;
    }
}
@media (max-width:700px){
    body{
        #title-section{
            flex-direction: column;
            padding-top:80px;
            .photo #my-photo{
                position: static;
                margin-top: -100px;
                margin-bottom: -100px;
                width:100vw;
            }
        }
        #projects #projects-container{
            height: 1740px;
        }
        #contact .contact-container {
            .contact-info{
                width:100%;
            }
            .contact-giph{
                display:none;
            }
        }
    }
}
@media (max-width:500px){
    body{
        section{
            padding: 50px 0px 50px 10px;
            h2{
                font-size: 28px;
            }
            .sub-heading{
                font-size: 14px;
            }
        }
        .shadow{
            display: none;
        }
        #title-section {
            .title {
                h1{
                    font-size: 28px;
                    span{
                        text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 3px 3px 0px rgba(0, 0, 0, .2);
                    }
                }
                p{
                    font-size:15px;
                }
                #cv{
                    font-size: 14px;
                    margin-top:30px;
                }
            } 
            .photo #my-photo{
                margin-left: -25vw;
                width: 150vw;
            }
        }
        #projects {
            #projects-container{
                height: calc( 4000px - 150vw);
                .project-box{
                    width: 100%;
                    margin-left: 30px
                }
            }
            .tabs .tab{
                font-size: 14px;
            }
        }
        #skills .skill{
            width:100%;
            padding-right: 0;
        }
        #footer .footer-container{
            p:nth-child(2){
                display: none;
            }
        }
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes border-blink {
    100% {
        border-color: transparent;
    }
    50% {
        border-color: transparent;
    }
    49% {
        border-color: $accent;
    }
    0% {
        border-color: $accent;
    }
}
@keyframes beret-fall {
    0% {
        transform: translate(0, -50px) rotate(-10deg);
    }
    60%{
        transform: translate(0, -25px) rotate(-10deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
@keyframes webscroll{
    0%{
        background-position: center top;
    }
    10%{
        background-position: center  top;
    }
    20%{
        background-position:center  25% ;
    }
    30%{
        background-position: center  25%;
    }
    40%{
        background-position: center center;
    }
    50%{
        background-position: center center;
    }
    60%{
        background-position: center  75%;
    }
    70%{
        background-position: center  75%;
    }
    80%{
        background-position: center bottom;
    }
    90%{
        background-position: center bottom;
    }
    100%{
        background-position: center top;
    }
}
@keyframes showsection{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
