$light: #C5C5F7;
$medium: #070736;
$dark: #000000;
$bright: #2727ff;
$accent: #ff295e;
$big-font: 'Josefin Sans', sans-serif;
$small-font: 'Lato', sans-serif;
@mixin center-content() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin box($height, $width) {
    height: $height;
    width: $width;
  }
*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top right, $medium, black);
    background-size: cover;
    color: $light;
    margin: 0;
    nav{
        position: fixed;
        width: 100%;
        font-family: $big-font;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        z-index: 1;
        h1{
            font-size: 40px;
            padding: 0 0 0 20px;
            margin: 0;
            color: $accent;
        }
        #nav-list{
            display: flex;
            width: 720px;
            ul {
                display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                li{
                    float: left;
                    padding: 0 2% 0 2%;
                    font-size: 26px;
                    a{
                        color: $light;
                        text-decoration: none;
                        span {
                            opacity: 0%;
                            font-family: $small-font;
                            transition: opacity 0.3s ease-out;
                        }
                    }
                    a:hover span{
                        opacity:100%;
                      }
                }
                li:last-of-type{
                    padding-right: 0;
                }
            }
        }
    }
    header{
        @include box(100vh, 100%);
        padding: 0 10% 0 10%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        img{
            display: block;
            position: absolute;
            z-index: -1;
        }
        #triangles{
            max-width: 60%;
            max-height: 90%;
            right: 0;
            bottom: 0;
        }
        #narwhal{
            @include box(300px, auto);
            left: 5%;
            top: 5%;
            filter: invert(0);
        }
        h1{
            font-family: $big-font;
            font-size: 35px;
            span{
                color:$bright;
            }
        }
        p{
            font-family: $small-font;
            color: $accent;
            font-size: 20px;
            margin: 0;
        }
    }
    section{
        padding: 50px 0 50px 0;
        border-top: solid 2px $light;
        h1{
            font-family: $big-font;
            font-size: 40px;
            margin-bottom: 50px;
            text-align: center;
        }
    }
    #projects-container{
            display:flex;
                justify-content: space-evenly;
                align-items: flex-start;
                flex-wrap: wrap;
                .project-box{
                    @include box(230px, 450px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    .project-text{
                        margin: auto 0 auto 0;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        font-family: $small-font;
                        font-size: 14px;
                        text-align:left;
                        h2{
                            margin: 5px;
                        }
                        p{
                            margin: 5px;
                            font-size: 14px;
                            width: 70%;

                        }
                        .divider{
                            @include box(3px, 100%);
                            background-color: $light;
                        }
                    }
                    .img{
                        z-index: -1;
                        background-size: cover;
                        position: absolute;
                        right: 0;
                        box-shadow: inset 30px 30px 50px black;
                    }
                    #gazeta-prawna-img{
                        @include box(180px, 300px);
                        background-image: url(page1.jpg);
                    }
                    #portfolio-template-img{
                        @include box(140px, 300px);
                        background-image: url(page2.jpg);
                    }
                    #wow-survey-form-img{
                        @include box(170px, 300px);
                        background-image: url(page3.jpg);
                    }
                    #saxophones-store-img{
                        @include box(180px, 300px);
                        background-image: url(page4.jpg);
                    }
                    #technical-documentation-img{
                        @include box(120px, 300px);
                        background-image: url(page5.jpg);
                    }
                }
                .project-big-box:nth-child(3n){
                    width: 100%;
                    @include center-content();
                }
        }
    #info-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        #info{
            @include center-content();
            flex-direction: column;
            @include box(100%, 48%);
            img{
                max-width: 70%;
            }
            p{
                padding-top: 20px;
                text-align: justify;
                font-family: $small-font;
            }
        }
        #skills{
            display: flex;
            align-items: flex-end;
            @include box(100%, 48%);
            flex-direction: column;
            .skill{
                @include center-content();
                @include box(30px, 100%);
                margin-bottom: 20px;
                color: $dark;
                background-color: $light;
                font-family: $big-font;
                border-radius: 10px;
                .description {
                    @include center-content();
                    @include box(100%, 150px);
                }
                .bar{
                    @include box(20%, 400px);
                    display: flex;
                    border-radius: 2px;
                    background-color: #8f8ff0;
                    position: relative;
                    .full{
                        background-color: $bright;
                        height: 100%;
                        border-radius: 2px;
                    }
                    img{
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        @include box(500%, auto);
                    }
                }
                .percentage{
                    @include center-content();
                    @include box(100%, 100px);
                }
            }
        }
    }
}
@media screen and (max-width:900px){
    #nav-list{
        a{
            display: none;
        }
    }
}

