$light: #C5C5F7;
$medium: #070736;
$dark: #000000;
$bright: #2727ff;
$accent: #ff295e;
$big-font: 'Josefin Sans', sans-serif;
$small-font: 'Lato', sans-serif;
@mixin center-content() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin box($height, $width) {
    height: $height;
    width: $width;
  }
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, $medium, $dark);
    color: $light;
    margin: 0;
    overflow-x: hidden;
    nav{
        position: fixed;
        top:0;
        font-family: $big-font;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
        z-index: 1;
        transition: top 0.9s;
        #nav-list{
            display: flex;
            ul {
                display: flex;
                flex-wrap: nowrap;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 750px;
                li{
                    padding: 0 2% 0 2%;
                    font-size: 26px;
                    a{
                        color: $light;
                        text-decoration: none;
                        span {
                            opacity: 0%;
                            font-family: $small-font;
                            transition: opacity 0.3s ease-out;
                        }
                    }
                    a:hover span{
                        opacity:100%;
                      }
                }
                li:last-of-type{
                    padding-right: 0;
                }
            }
        }
        #burger{
            display: none;
            cursor: pointer;
            @include box(50px, 50px);
            div{
                display: block;
                margin: 10px auto 0 auto;
                background-color: $light;
                height: 4px;
                border-radius: 1px;
            }
            #line1{
                width: 50px;
                transition-duration: 1s;
            }
            #line2{
                width: 30px;
                transition-duration: 1s;
            }
            #line3{
                width:10px;
                transition-duration: 1s;
            }
        }
        .x{  
            #line1{
                transform: rotate(180deg) translate(0, -30px);
                transition-duration: 1s;
            }
            #line2{
                transform: rotate(180deg);
                transition-duration: 1s;
            }
            #line3{
                transform: rotate(180deg) translate(0, 30px);
                transition-duration: 1s;
            }
        }
    }
    header{
        @include box(100vh, 100%);
        padding: 0 5% 0 5%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        position: relative;
        img{
            display: block;
            position: absolute;
            z-index: -1;
        }
        #triangles{
            max-width: 70%;
            max-height: 70%;
            right:0;
            bottom: 0;
        }
        h1{
            font-family: $big-font;
            font-size: 35px;
            span{
                color:$bright;
            }
        }
        p{
            font-family: $small-font;
            color: $accent;
            font-size: 20px;
            margin: 0;
        }
    }
    section{
        padding: 50px 0 50px 0;
        border-top: solid 2px $light;
        min-height: 100vh;
        h1{
            font-family: $big-font;
            font-size: 40px;
            margin-bottom: 50px;
            text-align: center;
        }
    }
    #projects-container{
            display:flex;
                justify-content: space-evenly;
                align-items: flex-start;
                flex-wrap: wrap;
                .project-box{
                    @include box(230px, 450px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    .project-text{
                        margin: auto 0 auto 0;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        font-family: $small-font;
                        font-size: 14px;
                        text-align:left;
                        h2{
                            margin: 5px;
                        }
                        p{
                            margin: 5px;
                            font-size: 14px;
                            width: 70%;

                        }
                        .divider{
                            @include box(3px, 100%);
                            background-color: $light;
                        }
                    }
                    .img{
                        z-index: -1;
                        background-size: cover;
                        position: absolute;
                        right: 0;
                        box-shadow: inset 30px 30px 50px black;
                    }
                    #gazeta-prawna-img{
                        @include box(180px, 300px);
                        background-image: url(page1.jpg);
                    }
                    #portfolio-template-img{
                        @include box(140px, 300px);
                        background-image: url(page2.jpg);
                    }
                    #wow-survey-form-img{
                        @include box(170px, 300px);
                        background-image: url(page3.jpg);
                    }
                    #saxophones-store-img{
                        @include box(180px, 300px);
                        background-image: url(page4.jpg);
                    }
                    #technical-documentation-img{
                        @include box(120px, 300px);
                        background-image: url(page5.jpg);
                    }
                }
                .project-big-box:nth-child(3n){
                    width: 100%;
                    @include center-content();
                }
        }
    #info-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        #info{
            @include center-content();
            flex-direction: column;
            @include box(100%, 48%);
            img{
                max-width: 80%;
            }
            p{
                padding-top: 20px;
                text-align: justify;
                font-family: $small-font;
                width: 80%;
            }
        }
        #skills{
            display: flex;
            align-items: flex-end;
            @include box(100%, 48%);
            flex-direction: column;
            .skill{
                @include center-content();
                @include box(30px, 100%);
                margin-bottom: 20px;
                color: $dark;
                background-color: $light;
                font-family: $big-font;
                border-radius: 10px;
                .description {
                    @include center-content();
                    @include box(100%, 140px);
                }
                .bar{
                    @include box(20%, 100%);
                    display: flex;
                    border-radius: 2px;
                    background-color: #8f8ff0;
                    position: relative;
                    .full{
                        background-color: $accent;
                        height: 100%;
                        border-radius: 2px;
                    }
                    img{
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        @include box(700%, auto);
                    }
                }
                .percentage{
                    @include center-content();
                    @include box(100%, 80px);
                }
            }
        }
    }
    #contact{
        @include center-content();
        flex-direction: column;
        padding-bottom: 0;
        #clock{
            margin: 0 auto auto auto;
            @include box(500px, 500px);
            border: solid 5px $light;
            background-image: radial-gradient($medium, $dark);
            border-radius: 50%;
            position: relative;
            #center{
                position: absolute;
                background-color: $light;
                @include box(30px, 30px);
                border-radius: 50%;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            #num{
                @include box(100%, 100%);
                position: relative;
            }
            .num{
                font-family: $big-font;
                font-size: 40px;
                position: absolute;
                left: 50%;
                @include box(50%, 50px);
                transform-origin: bottom center;
                text-align: center;
                padding-top: 15px;
                .icon{
                    color: $accent;
                    font-size: 45px;
                }
                a{
                    text-decoration: none;
                    color: $light;
                    display: block;
                }
                a:hover {
                    color: $bright;
                }
            }
            @for $i from 1 through 12 {
                .num:nth-child(#{$i}){
                    transform: translate(-50%, 0) rotate(30deg * $i);
                }
                .num:nth-child(#{$i}) a{
                    transform: rotate(-30deg * $i);
                }
            }
            .hand-container{
                position: absolute;
                @include box(50%, 100%);
                transform-origin: bottom center;
                .hand{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 50px);
                    transition-timing-function: ease-out;
                }
            }
            .hand-container:nth-child(4){
                transition: all 0.1s ease-in-out;
            }
            #hr{
                @include box(150px, 8px);
                background-color: $accent;
                border-radius: 4px;
            }
            #min{
                @include box(190px, 4px);
                background-color: $light;
            }
            #sec{
                @include box(200px, 1px);
                background-color: $bright;
            }
        }
        #footer{
            justify-self: flex-end;
            background-color: $dark;
            @include box(40px, 100%);
            @include center-content();
        }
    } 
    
}
@media screen and (max-width:800px){
    #nav-list{
        position: absolute;
        right: 0;
        @include box(100vh, 220px);
        top: 0;
        background-color: $medium;
        @include center-content();
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        ul {
            height: 100%;
            align-items: center;
            flex-direction: column;
            list-style-type: none;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            li{
                opacity: 0;
                
                a {
                    color: $accent !important;
                    font-size: 26px;
                }
            } 
        }
    }
    #burger{
        display: block !important;
        margin-right: 75px;
        z-index: 2;
    }
    .nav-active{
        transform: translateX(0%) !important;
    }
}
@media screen and (max-width:500px){
    #clock{
        display: none;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
